version: '3.8'
# 网络配置
networks:
  backend:
    driver: ${NETWORKS_DRIVER}

services:
  postgres:
    image: postgres:latest
    environment:
      - TZ=${TZ}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ${POSTGRES_DB}:/var/lib/postgresql/data/
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - backend
    restart: always

  mysql:
    image: mysql:latest
    environment:
      - TZ=${TZ}
      - MYSQL_USER=${MYSQL_USERNAME}                  # 设置 Mysql 用户名称
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}              # 设置 Mysql 用户密码
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}    # 设置 Mysql root 用户密码
    volumes:
      - ${MYSQL_DB}:/var/lib/mysql/
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      - backend
    restart: always

  adminer:
    image: adminer
    environment:
      - ADMINER_DESIGN=hydra
    ports:
      - 1000:8080
    networks:
      - backend
    depends_on:
      - mysql
      - postgres
    restart: always
